{
  "ignorePatterns": "package-lock.json",
  "extends": [
    "canonical",
    "canonical/node",
    "canonical/typescript"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "root": true
}